bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/GeminiSharpLib.sln.DotSettings.user
/.idea/.idea.GeminiSharpLib/.idea/indexLayout.xml
/.idea/.idea.GeminiSharpLib/.idea/misc.xml
/.idea/.idea.GeminiSharpLib/.idea/vcs.xml
